.bajar{
  margin-top: 180px;
}
.modif{
  width: 70%;
  justify-content: center;
  margin-left: 10%;
 
}
.navbar {
  box-shadow: 2px 2px 5px rgba(217, 255, 0, 1);
  opacity: 0.8;
}

.navbar .nav-item .nav-link {
  color: #000000;
}

.main-header {
  position: relative;
  background: url(img/portada.jpg) no-repeat;
  background-size:cover;
  height:max-content
  min-height 600px;
  height: 700px;
}

.background-overlay {
  background: rgba(94, 94, 94, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team, footer {
  background: #000000;
}
